*{
  margin:0;
  padding:0
}
body{
  width: 100%;
  height: 100%;
}
.container{
  display:flex;
  ;
}
.row{
  flex-direction: row;
}
.mescont{
  height: 100%;
  width: 30%;
}
.frcont{
  height: 100%;
  width: 70%;
}